* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    /* background: url('../images/bg.jpg') center / cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 223, 227);
}

.home {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 4;
    background-color: rgb(247, 201, 209);
    border-radius: 5px;
    padding: 10px 5px;
    /* border: 1px solid purple; */
}

.home a {
    text-decoration: none;
    color: #000;
    padding: 15px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.submit {
    background-color: rgb(247, 201, 209);
    border-radius: 5px;
    padding: 5px 10px;
    /* border: 1px solid purple; */
    color: #454545;
    font-weight: bold;
}

main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    
    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}

.table__body {
    width: 95%;
    max-height: calc(85% - .8rem);
    background-color:  #fffb;

    margin: auto;
    border-radius: .6rem;

    overflow: auto;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    height: 0.5rem;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(247, 201, 209);
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
}

@media ( max-width:100px){
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }

}